#tabbrowser-arrowscrollbox {
  margin: 7px 14px 7px 14px;
}

.tabbrowser-tab::after {
  border: none !important;
}

.tab-background .tab-line,
.tab-background .tab-bottom-line {
  background-color: var(--dark-base);
  display: none;
}

tab[selected="true"] > .tab-stack > .tab-background {
  background: #1e1e2e !important;
}

tab:not([selected="true"]) > .tab-stack:hover > .tab-background {
  background: #07070b !important;
}

.tab-stack {
  border-radius: 7px;
  margin-right: 5px;
  overflow: hidden;
}

.tab-stack .tab-icon-image,
.tab-stack .tab-label-container {
  transform: translateX(0px);
  transition: all 200ms cubic-bezier(0.22, 1, 0.36, 1) !important;
}

tab:not([pinned="true"]) .tab-stack:hover .tab-icon-image {
  transform: translateX(-25px) !important;
}

.tab-stack:hover .tab-label-container {
  transform: translateX(-23px) !important;
}

/* containers */
tab:not([selected="true"]).identity-color-blue > .tab-stack,
tab:not([selected="true"]).identity-color-orange > .tab-stack,
tab:not([selected="true"]).identity-color-green > .tab-stack,
tab:not([selected="true"]).identity-color-pink > .tab-stack {
  border-radius: 0 0 7px 7px !important;
}

tab[selected="true"].identity-color-blue > .tab-stack .tab-label-container,
tab[selected="true"].identity-color-orange > .tab-stack .tab-label-container,
tab[selected="true"].identity-color-green > .tab-stack .tab-label-container,
tab[selected="true"].identity-color-pink > .tab-stack .tab-label-container {
  color: #000 !important;
}

/* blue */
tab[selected="true"].identity-color-blue > .tab-stack > .tab-background {
  background: linear-gradient(to right, #3182ce, #0bc5ea) !important;
}

tab:not([selected="true"]).identity-color-blue > .tab-stack > .tab-background {
  border-top: solid 4px #63b3ed !important;
}

/* orange */
tab[selected="true"].identity-color-orange > .tab-stack > .tab-background {
  background: linear-gradient(to right, #dd6b20, #f56565) !important;
}

tab:not([selected="true"]).identity-color-orange
  > .tab-stack
  > .tab-background {
  border-top: solid 4px #f6ad55 !important;
}

/* green */
tab[selected="true"].identity-color-green > .tab-stack > .tab-background {
  background: linear-gradient(to right, #38a169, #38b2ac) !important;
}

tab:not([selected="true"]).identity-color-green > .tab-stack > .tab-background {
  border-top: solid 4px #68d391 !important;
}

/* pink */
tab[selected="true"].identity-color-pink > .tab-stack > .tab-background {
  background: linear-gradient(to right, #d53f8c, #9f7aea) !important;
}

tab:not([selected="true"]).identity-color-pink > .tab-stack > .tab-background {
  border-top: solid 4px #f687b3 !important;
}

.tab-stack .tab-close-button {
  border-radius: 50%;
  margin-left: -20px !important;
  background: #07070b;
  fill: #cdd6f4 !important;
}

#TabsToolbar {
  background-color: #07070b !important;
}

#tabbrowser-tabs[closebuttons="activetab"]
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-content
  > .tab-close-button:not([selected="true"]) {
  display: block !important;
}

.tab-stack .tab-close-button {
  border-radius: 50%;
  margin-left: -20px !important;
  background: #07070b;
  fill: #cdd6f4 !important;
  transform: translateX(30px) !important;
  transition: all 200ms cubic-bezier(0.22, 1, 0.36, 1) !important;
}

.tab-stack:hover .tab-close-button {
  transform: translateX(0px) !important;
}

#TabsToolbar {
  background-color: #07070b !important;
}

#tabbrowser-tabs[closebuttons="activetab"]
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab
  > .tab-stack
  > .tab-content
  > .tab-close-button:not([selected="true"]) {
  display: block !important;
}

.tab-stack .tab-icon-image {
  display: none;
  transition-duration: calc(200ms * 2) !important;
}
